h1 {
   font-size:2.2em;
   color: #00008B;
}

h2 {
   font-size:1.5em;
   color: #00008B;
}

h3 {
   font-size:1em;
   color: #00008B;
   font-weight: bold;
}

h4 {
color: #FF3333;
font-weight: bold;
}